
<form action="?????"> 
<input type="text" name="member"> 
<input type="submit" value="answer???!"> 
</form>

<p><%= params %></p>

<p>================</p>
<p><%= params[:question] %></p>

<p> <%=  @answer %> </p>